<!DOCTYPE html>
<html>
    <head>
        <style>
.users_header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-style: italic;
    color: blue;
}
.users {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    color: rgb(237, 5, 40); 
}
.logout {
    position: absolute;
    bottom: 0;
}
        </style>

    </head>
    <body>
        <p class="users_header">Online:</p>
        <p id="user_data"></p>
        <button class="logout" onclick="closePaent();">Logout</button>
    </body>
    <script>
        let message = [];
        let testIfnew = function (data) {
            if (data.length !== message.length){
                return true
            } else {
                for (let i in data) {
                    if (data[i] !== message[i]) {
                    return true 
                    }
                }
            }
        }
        let numUsers = 0;
        let user_id;
        let openDoor = new Audio("/static/open.mp3")
        let closeDoor = new Audio("/static/close.mp3")
        let user_data = document.getElementById("user_data")
        user_data.setAttribute("class", "users")
        let user =  document.createElement("li");
        user.innerText = "";
        user_data.appendChild(user)
        window.addEventListener("message", (event) => {
        if (event.origin !== window.location.origin) {
            alert("Security Breach ! ! !")
        } else {
            let new_data = 'first'
            new_data = event.data;
            if ("user_id" in event.data) {
                user_id = event.data.user_id;
                console.log(`USER ID of USERS page: ${user_id}`);
            } else {
                if (testIfnew(Object.keys(new_data.users))) {
                    console.log(user_data.children)
                    while (user_data.firstChild) {
                        user_data.removeChild(user_data.lastChild); //removes all users
                    }
                    if (Object.keys(new_data.users).length > numUsers) {
                        openDoor.play();
                    } else if (Object.keys(new_data.users).length < numUsers) {
                        closeDoor.play();
                    }
                    numUsers = Object.keys(new_data.users).length
                    for (let key in new_data.users) {
                        let user =  document.createElement("li");
                        user.innerText = key;
                        user_data.appendChild(user)
                        console.log("New Element created")
                    console.log(user_data.children)
                    message = Object.keys(new_data.users);
                    console.log(user_data.childElementCount)
                    }
                }
            }
        }
    })

closePaent = () => parent.postMessage('closed', '*')  
    </script>
</html>
